.primary_btn {
  padding: 18px 10px;
  background-color: white;
  color: black;
  min-width: 220px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  justify-content: center;
  cursor: pointer;
}

.outline_btn {
  padding: 18px 10px;
  background: transparent;
  color: white;
  border: solid 2px;
  min-width: 220px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  justify-content: center;
  width: 100%;
  cursor: pointer;
}
