.container {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.top_btn {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.contact_form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.contact_form form {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.form_control {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.form_control input {
  width: 100%;
  height: 40px;
  padding: 0 8px;
  background: transparent;
  color: white;
  border: solid 2px white;
  border-radius: 5px;
}
.form_control textarea {
  width: 100%;
  height: 200px;
  resize: none;
  color: white;
  padding: 0 8px;
  background: transparent;
  border: solid 2px white;
  border-radius: 5px;
  max-width: 100%;
}
.form_control label {
  position: absolute;
  top: -12px;
  left: 10px;
  background-color: black;
  padding: 0 10px;
  font-size: 14px;
}

.contact_img img {
  height: 700px;
  width: 700px;
  filter: invert(100%);
  object-fit: cover;
}
