.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  height: 100px;
  margin: 0 auto;
}
.Nav img {
  height: 60px;
  width: 150px;
  filter: invert(100%);
  object-fit: cover;
}

.Nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.Nav button {
  all: unset;
  padding: 6px 16px;
  background: white;
  height: 32px;
  color: black;
  font-weight: 500;
}
